{% extends '_default/page.html.twig' %}

{%- block content ~%}
    <div class="intro w-full min-h-[90vh] relative bg-cover overflow-hidden flex items-center">
        <div class="cloud-1 w-[160vw] h-[150vh] bg-secondary rounded-full absolute -top-[100vh] -right-[100vw] blur-3xl opacity-50"></div>
        <div class="cloud-1 w-[140vw] h-[140vh] bg-secondary rounded-full absolute -left-[85vw] -bottom-[80vh] blur-3xl opacity-50"></div>

        <div class="container container-md mx-auto pt-24 md:pt-28 pb-10 md:pb-28 px-6">
            <div class="flex flex-col md:flex-row gap-16 items-center">
                <div class="md:basis-1/2 lg:basis-3/5 flex flex-col gap-1 md:gap-2 lg:gap-6">
                    <h1 class="text-xl md:text-2xl lg:text-3xl">{{ page.title }}</h1>
                    <p class="text-gris">{{ page.content }}</p>
                    <div>
                        <a href="{{ url('a-propos') }}"
                           class="text-white bg-color font-bold py-2 px-4 rounded-md transition-all hover:no-underline hover:bg-colorHover">En savoir plus</a>
                    </div>
                </div>
                <div class="md:basis-1/2 lg:basis-2/5 lighten">
                    {{ asset('pages/bienvenue.jpg')|html({alt: page.title}) }}
                </div>
            </div>
            <h2 class="text-3xl font-bold mb-10 text-center">Derniers articles</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-3 xl:gap-6">
                {%- for new in site.pages.showable|filter_by('section', 'news')|sort_by_date|slice(0, 4) ~%}
                    {% include 'partials/list-new.html.twig' with {'new': new} only %}
                {%- endfor ~%}
            </div>
        </div>

    </div>
    <img src="{{ asset('img/bg-sep.jpg') }}" alt="" class="w-full h-auto">
    <div class="container mx-auto px-6 py-20 text-center">
        <h2 class="text-3xl font-bold mb-10">Nos derniers tutos</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-3 xl:gap-6">
            {%- for tuto in site.pages.showable|filter_by('section', 'tutos')|sort_by_date|slice(0, 4) ~%}
                {% include 'partials/list-tuto.html.twig' with {'tuto': tuto} only %}
            {%- endfor ~%}
        </div>
    </div>



{%- endblock ~%}
